*.sdf
*.opensdf
*.pdb
*.dll
*.lib
*.exe
*.log
*.ilk
*.suo
*.exp
*.user

CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json

.cache/*
build/*
docs/build/*

.DS_Store
.AppleDouble
.LSOverride

.idea/*
.vscode/*
.vs/*
